<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <h1>Single Product details</h1>
    <article>
        <header>
            <h1><%= product.name %></h1>
        </header>
        <div>
            <img src="/<%= product.imageUrl %>">
        </div>
        <div>
            <h2>Rs <%= product.price %></h2>
        </div>
        <div>
            <h2>Max Quantity:- <%= product.maxquan%></h2>
        </div>
    </article>
    <%- include('../includes/end.ejs') %>